.title-main {
    font-family: "Raleway", sans-serif ;
    font-size: 26px ;
    font-weight: 600;
    text-decoration: none;
}
body {
    font-family: "Roboto", sans-serif;
}
.nav-link:hover {
background-color: aqua;
 font-size: 14px;
 font-weight: 500;
 line-height: auto;
}
.title {
 font-size: 44px;
 font-weight: 700;
 line-height: 1.4;
 color: white;
}
.section-title {
 font-size: 14px;
 font-weight: 500;
 line-height: auto;
 color: black;
}
.list-description {
 font-size: 14px;
 font-weight: 500;
 line-height: 1.7;
 color: gray;
}
.activity-title {
 font-size: 36px;
 font-weight: 700;
line-height: auto;
 color: black;
}
.item-name {
 font-size: 16px;
 font-weight: 400;
 line-height: auto;
 color: rgb(0, 0, 0);
}
.info {
 font-size: 16px;
 font-weight: 400;
 line-height: auto;
 color: rgb(116, 116, 116);
}
.contact-form {
 font-size: 14px;
 font-weight: 500;
 line-height: 1.7;
 color: rgb(123, 123, 123);
}
.btn:hover {
    background-color: blue;
    font-size: 16px;
 font-weight: 400;
 line-height: 1.9;
 color: rgb(255, 253, 253);
}
.activity img {
width: 370px;
height: 294px;
top: 1058px;
left: 215px;
}
.workers img {
width: 270px;
height: 260px;
top: 1632px;
left: 215px;
}
.email:hover {
    background-color: aqua;
 font-size: 14px;
 font-weight: 500;
 line-height: 1.7;
}
.phone:hover {
    background-color: aqua;
 font-size: 14px;
 font-weight: 500;
 line-height: 1.7;
}
.workers-title:hover {
    color: black;
 font-size: 36px;
 font-weight: 700;
line-height: auto;
}
.part1{ color: blue }
.part2{ color: rgb(0, 0, 0); }
