.container {
max-width: 1200px;
margin: 0 auto;
padding: 0 15px;
}
.flex-item {
  min-width: 0;
}
ul {
    list-style: none;
    padding: 0;
}
header{
    background-color: white;
     display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cap {
    background-color: rgb(57, 53, 69);
}
.title-main {
    font-family: "Raleway", sans-serif ;
    font-size: 26px ;
    font-weight: 600;
    text-decoration: none;
    width: 145px;
    height: 31px;
    top: 2154px;
    left: 215px;
    padding-left: 15px;
}
body {
    font-family: "Roboto", sans-serif;
}
.nav-link:hover {
    color: inherit;
background-color: rgb(91, 91, 232);
 font-size: 14px;
 font-weight: 500;
 line-height: auto;
}
ul {
    list-style: none;
    padding: 0;
}
.title {
 font-size: 44px;
 font-weight: 700;
 line-height: 1.4;
 color: white;
 display: flex;
 justify-content: center;
}
.section-title {
 font-size: 14px;
 font-weight: 500;
 line-height: auto;
 color: black;
}
.list-description {
 font-size: 14px;
 font-weight: 500;
 line-height: 1.7;
 color: gray;
}
.activity-title {
 font-size: 36px;
 font-weight: 700;
line-height: auto;
 color: black;

}
.item-name {
 font-size: 16px;
 font-weight: 400;
 line-height: auto;
 color: rgb(0, 0, 0);
}
.info {
 font-size: 16px;
 font-weight: 400;
 line-height: auto;
 color: rgb(116, 116, 116);
}
.contact-form {
 font-size: 14px;
 font-weight: 500;
 line-height: 1.7;
 color: rgb(123, 123, 123);
}
.btn:hover {
    background-color: rgb(91, 91, 232);
    font-size: 16px;
 font-weight: 400;
 line-height: 1.9;
 color: rgb(255, 253, 253);
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}
.activity img {
width: 370px;
height: 294px;
top: 1058px;
left: 215px;
}
.workers img {
width: 270px;
height: 260px;
top: 1632px;
left: 215px;
}
.email:hover {
    color: lightgrey;
 font-size: 14px;
 font-weight: 500;
 line-height: 1.7;
 text-decoration: none;
}
.phone:hover {
    color: lightgrey;
 font-size: 14px;
 font-weight: 500;
 line-height: 1.7;
 text-decoration: none;
}
.workers-title {
    color: black;
 font-size: 36px;
 font-weight: 700;
line-height: auto;

}
.part1{ color: rgb(24, 112, 227) }
.part2{ color: rgb(0, 0, 0); }
.workers {
    background-color: lightgrey;
}
footer {
    padding-left: 15px;
    background-color:rgb(57, 53, 69) ;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.schedule .schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.schedule-list {
   display: flex;
    gap: 56px; 
}
.cap .div-title {
display: inline-block;
justify-content: center;
}
.activity .div-activity {
display: flex;
justify-content: center;
}
.div-photo .photo {
display: flex;
    justify-content:center;
    gap: 8px;
}
.workers .div-workers {
display: flex;
justify-content: center;
}
.div-item .item-photo{
display: flex;
    justify-content:center;
    gap: 8px;
}
.address {
width: 231px;
    height: 81px;
    top: 2205;
    left: 215px;
}
