.title-main {
    font-family: "Raleway", sans-serif ;
   font-size: 26px ;
    font-weight: 600
}
body {
    font-family: "Roboto", sans-serif;
}
.nav-link:hover {
    background-color: aqua;
 font-size: 14px;
 font-weight: 500;
 line-height: auto;
}
.contact-form {
 font-size: 14px;
 font-weight: 500;
 line-height: auto;
 color: white;
}
.small-heading {
 font-size: 18px;
 font-weight: 500;
 line-height: 2;
 color: black;
}
.discription {
 font-size: 16px;
 font-weight: 400;
 line-height: 1.9;
 color: gray;
}
.btn:hover {
    background-color: blue;
 font-size: 16px;
 font-weight: 400;
 line-height: 1.6;
 color: white;
}
.contact-form {
    font-family: "Roboto", sans-serif;
 font-size: 14px;
 font-weight: 500;
 line-height: 1.7;
 color: rgb(170, 168, 168);
}
.services img {
    width: 370px;
height: 294px;
top: 1130px;
left: 215px;
}
.email:hover {
    background-color: aqua;
 font-size: 14px;
 font-weight: 500;
 line-height: 1.7;
}
.phone:hover {
    background-color: aqua;
 font-size: 14px;
 font-weight: 500;
 line-height: 1.7;
}
.part1{ color: rgb(0, 132, 255); }
.part2{ color: rgb(133, 131, 131); }
