.title-main {
    font-family: "Raleway", sans-serif ;
   font-size: 26px ;
    font-weight: 600
}
p, a, h1, h2, h3, button {
    font-family: "Roboto", sans-serif;
}
.page {
 font-size: 14px;
 font-weight: 500;
 line-height: auto;
 color: black;
}
.contact-form {
 font-size: 14px;
 font-weight: 500;
 line-height: auto;
 color: white;
}
.small-heading {
 font-size: 18px;
 font-weight: 500;
 line-height: 2;
 color: black;
}
.discription {
 font-size: 16px;
 font-weight: 400;
 line-height: 1.9;
 color: gray;
}
.btn {
 font-size: 16px;
 font-weight: 400;
 line-height: 1.6;
 color: black;
}
.contact-form2 {
    font-family: "Roboto", sans-serif;
 font-size: 14px;
 font-weight: 500;
 line-height: 1.7;
 color: rgb(170, 168, 168);
}
.contact-form1 {
    font-family: "Roboto", sans-serif;
 font-size: 14px;
 font-weight: 500;
 line-height: 1.7;
 color: rgb(93, 91, 91);
}
.listofeverything img {
    width: 370px;
height: 294px;
top: 1130px;
left: 215px;
}