.container {
max-width: 1200px;
margin: 0 auto;
padding: 0 15px;
}
.title-main {
    font-family: "Raleway", sans-serif ;
   font-size: 26px ;
    font-weight: 600;
    text-decoration: none;
}
body {
    font-family: "Roboto", sans-serif;
}
.navigation {
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.nav-link .phone .email:hover {
    color: inherit;
background-color:rgb(91, 91, 232);
 font-size: 14px;
 font-weight: 500;
 line-height: auto;
}
.contact-form {
 font-size: 14px;
 font-weight: 500;
 line-height: auto;
 color: white;
}
.small-heading {
 font-size: 18px;
 font-weight: 500;
 line-height: 2;
 color: black;
}
.discription {
 font-size: 16px;
 font-weight: 400;
 line-height: 1.9;
 color: gray;
}
.btn:hover {
   background-color: rgb(91, 91, 232);
 font-size: 16px;
 font-weight: 400;
 line-height: 1.6;
 color: white;
}
.contact-form {
    font-family: "Roboto", sans-serif;
 font-size: 14px;
 font-weight: 500;
 line-height: 1.7;
 color: rgb(170, 168, 168);
}
.services img {
    width: 370px;
height: 294px;
top: 1130px;
left: 215px;
}
.email:hover {
    color: lightgrey;
 font-size: 14px;
 font-weight: 500;
 line-height: 1.7;
}
.phone:hover {
    background-color: aqua;
 font-size: 14px;
 font-weight: 500;
 line-height: 1.7;
}
.part1{ color: rgb(24, 112, 227) }
.part2{ color: rgb(0, 0, 0); }
footer {
    background-color:rgb(57, 53, 69) ;
}
header{
    background-color: white;
     display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.button .div-button{
display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 50px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}
.box{
    width: calc((100%-40px) / 3);
}
footer{
    padding-left: 15px;
}
